body {
  padding: 0;
  margin: 0;
  background-color: #fcf5ef;
  box-sizing: border-box;
}
.nav-bar {
  width: 100vw;
  height: 120px;
  /* background-color: black; */
  position: relative;
}

.nav-bar .logo {
  width: 120px;
  height: auto;
  position: absolute;
  top: 5px;
}
.search-container {
  width: 30%;
  position: absolute;
  top: 40px;
  left: 150px;
}
.search-bar {
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid #ffc87a;
  color: #fb9179;
  font-size: 20px;
  border-radius: 10px;
  padding: 0 40px;
}

.search-bar:focus {
  outline: none;
  border: 2px solid #fb9179;
}
.search-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  left: 5px;
  color: #fb9179;
  cursor: pointer;
}
